!!!5
%html
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
		%meta(name="apple-mobile-web-app-capable" content="yes")
		%meta(name="apple-mobile-web-app-status-bar-style" content="black")
		%title Kamishibai
		%link(rel='stylesheet' type='text/css' href='/vendor/css/bootstrap.css')
		%link(rel='stylesheet' type='text/css' href='/css/browse.css')
		%script(src='/vendor/js/jquery-2.2.4.min.js')
		%script(src='/vendor/js/jquery.localize.js')
		%script(src='/vendor/js/jquery.cookie.js')
		%script(src='/vendor/js/bootstrap.js')
		%script(src='/js/utilities.js')
		%script(src='/js/browse.js')
		%script(src='/vendor/js/jquery.scrollTo-1.4.3.1.js')
		%script(src='/vendor/js/jquery.lazyload.min.js')
	%body
		%nav.navbar.navbar-default.navbar-fixed-top#navtop
			%div.container-fluid

				%div.navbar-header
					%a.navbar-brand(data-localize="browse.Path")
					%ol.breadcrumb.pull-left#path

					%button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navcollapse")
						%span.sr-only Toggle Navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar

				%div.collapse.navbar-collapse#navcollapse
					%form.navbar-form.navbar-right(role="search")
						%div.form-group
							%input.form-control#searchbox(type="text" placeholder="" data-localize="browse.Search")

					%ul.nav.navbar-nav
						%li.dropdown
							%a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
								%span(data-localize="browse.Bookmarks")
								%span.caret
							%ul#ul-sources.dropdown-menu(role="menu" aria-labelledby="dropdownMenu")
								%li
									%a(tabindex="-1" href="#") blank

						%li.dropdown
							%a.dropdown-toggle(href="#" data-toggle="dropdown")
								%span(data-localize="browse.Menu")
								%span.caret
							%ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu")
								%li
									%a(tabindex="-1" href="/tablet.html")
										%span.glyphicon.glyphicon-book &nbsp;
										%span(data-localize="browse.SimpleMode")
								%li
									%a(tabindex="-1" href="/config")
										%span.glyphicon.glyphicon-wrench &nbsp;
										%span(data-localize="browse.Preferences")
								%li
									%a(tabindex="-1" href="#" onclick="toggleFullScreen(document.documentElement); $('.nav-collapse').collapse('toggle'); return false;")
										%span.glyphicon.glyphicon-fullscreen &nbsp;
										%span(data-localize="toggleFullScreen")

						%li.dropdown
							%a.dropdown-toggle(href="#" data-toggle="dropdown")
								%span(data-localize="orderby")
								%span.caret
							%ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu")
								%li
									%a(tabindex="-1" href="#" onclick="exe_order_by('name'); return false;")
										%span.glyphicon.glyphicon-font &nbsp;
										%span(data-localize="filename")
								%li
									%a(tabindex="-1" href="#" onclick="exe_order_by('size'); return false;")
										%span.glyphicon.glyphicon-file &nbsp;
										%span(data-localize="filesize")
								%li
									%a(tabindex="-1" href="#" onclick="exe_order_by('date'); return false;")
										%span.glyphicon.glyphicon-time &nbsp;
										%span(data-localize="filedate")

						%li.dropdown
							%a.dropdown-toggle(href="#" data-toggle="dropdown")
								%span(data-localize="browse.Edit")
								%span.caret
							%ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu")
								%li
									%a(tabindex="-1" href="#" onclick="delete_enable(); return false;")
										%span.glyphicon.glyphicon-remove &nbsp;
										%span(data-localize="browse.Delete")

				%div
					%a.btn.hidden.btn-danger.pull-right#btnDeleteDisable(data-localize="browse.DeleteDisable" onclick="delete_disable(); return false;")

		%div.container-fluid#container
			%div#dir_lists
