!!!5
%html(lang="en")
	%head
		%meta(charset="utf-8")
		%title Kamishibai
		%link(rel='stylesheet' type='text/css' href='/css/bootstrap.css')
		%script(src='/vendor/js/jquery-2.1.4.js')
		%script(src='/vendor/js/bootstrap.js')
		%script(src='/vendor/js/jquery.localize.js')
		%script(src='/js/utilities.js')
	%body
		= yield