!!!5
%html
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
		%meta(name="apple-mobile-web-app-capable" content="yes")
		%meta(name="apple-mobile-web-app-status-bar-style" content="black")

		%title Kamishibai

		%link(rel='stylesheet' type='text/css' href='/vendor/css/bootstrap.css')
		%link(rel='stylesheet' type='text/css' href='/css/tablet_browse.css')
		%link(rel='stylesheet' type='text/css' href='/css/tablet_reader.css')
		%link(rel='stylesheet' type='text/css' href='/css/tablet_reader_input.css')

		%script(src='/vendor/js/jquery-2.1.4.js')
		%script(src='/vendor/js/jquery.localize.js')
		%script(src='/vendor/js/jquery.cookie.js')
		%script(src='/vendor/js/jquery.scrollTo-1.4.3.1.js')
		%script(src='/vendor/js/bootstrap.js')
		-#%script(src='/vendor/js/swipeview.js')
		%script(src='/js/swipeview-k.js')
		
		%script(src='/js/utilities.js')
		%script(src='/js/tablet3_browse.js')
		%script(src='/js/tablet3_reader.js')
		%script(src='/js/tablet3.js')

	%body
		%div.navbar.navbar-fixed-top#menu
			%div.btn-group#bcs(role="group")
				%button.btn.btn-default#bc1(link="/lists"  data-localize="browse.All")
				%button.btn.btn-default#bc2(link="/nlists" data-localize="browse.New")
				%button.btn.btn-default#bc3(link="/rlists" data-localize="browse.Reading")
				%button.btn.btn-default#bc4(link="/flists" data-localize="browse.Finished")
				%button.btn.btn-default#bc5(link="/alists" data-localize="browse.Author")
			%button.btn(onclick="location.href = '/browse/'")
				%i.glyphicon.glyphicon-folder-open

		%div#window
			%div#searchbox-holder
				%div.input-group
					%span.input-group-addon
						%i.glyphicon.glyphicon-search
					%input.form-control#searchbox(type="text" name="searchbox" value="" placeholder="search")
			%div#leftbox-div
				%ul#leftbox(data-role="listview" data-theme="d" data-autodividers="true" data-filler-theme="d")
			%div#bookinfo
			%div#rcontainer
				%ul#books
				

		%div#container.hidden
			%div#wrapper

			%div#currentinfo
				%span#pageCounter
				%span#clock
				%span#battery

			%div.ui-bar-a#booktitle
			%div.ui-bar-a#readermenu
				%div
					%div.gap.hidden#div-fs-btn
						%div.ui-btn.ui-btn-up-a.ui-shadow.ui-btn-corner-all#gofullscreen(onclick="toggleFullScreen('container'); hidemenu();")
							%div
								full screen
					%div.gap
						%div.segmented-button#readdirection(data-toggle="buttons")
							%input.radio#readtoleft(type="radio" name="readdirection" checked="checked")
							%label.first(for="readtoleft") eastern
							%input.radio#readtoright(type="radio" name="readdirection")
							%label.last(for="readtoright") western
					%div.gap
						%input#pageinput(type="text")
						%input#pageslider(type="range" min="1" value="1" step="1" max="10")
					%div.gap
						%div.ui-btn.ui-btn-up-a.ui-shadow.ui-btn-corner-all#closeReader
							%div
								close reader