#icontainer {
	text-align: center;
}
.icontainer-normal_height {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: black;
}
.normal_height {
	width: auto;
	height: 100%;
}
.full_height {
	width: 50%;
	height: auto;
}
#container {
	float: left;
	width: 100%;
	background-color: black;
	/* overflow: hidden; */
}
#cleft, #cright, #cbutton {
	opacity: 0;
}
#cleft, #cright {
	position: fixed;
	width: 20%;
	height: 100%;
	/* float: left; */
}
#cleft {
	/* hidden button to nav page */
	background-color: yellow;
	left: 0%;
	z-index: 9;
}
#cright {
	/* hidden button to nav page */
	background-color: cyan;
	left: 80%;
	z-index: 8;
}
#cbutton {
	/* hidden button to bring up menu */
	background-color: green;
	position: fixed;
	left: 20%;
	top: 50%;
	width: 60%;
	height: 50%;
	z-index: 7;
}
#cleft a, #cright a, #cbutton a {
	width: 100%;
	height: 100%;
	display: block;
}
#booktitle {
	width: 100%;
	text-align: center;
	background-color: #afafaf;
}
#ileft, #iright {
	/* float: left; */
	/* display: block; */
	/* opacity: 0.1; */
}
#ibar {
	/* black bar between 2 images */
	display: none;
	width: 1%;
	height: 20px;
	/* float: left; */
	background-color: black;
}
#menu {
	width: 100%;
	height: 180px;
	bottom: 0%;
	position: fixed;
	z-index: 10;
	background-color: grey;
	text-align: center;
}

body {
	background-color: black;
}

#pageslider-value {
	width: 30px;
}
#pageslider {
	width: 100%;
	margin-top: 6px;
}
.d_row {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	width: 100%;
}
.ps {
	display: inline-block;
}
.ps-1 {
	width: 40px;
	vertical-align: top;
}
.ps-2 {
	width: 700px;
}
.ui-slider-handle {
	/* make the slider handle into a circle */
	border-radius: 50%;
}